<center>
  <h1>The Library Books' Page</h1>
  <h4>View the currently available books at the library or see what books you currently have checked out</h4>
</center>

<b><u>Available books:</u><b>
  <% if @books.any? %>
  <ol>
    <% @books.each() do |book| %>
    <li><b><a href="/checkout/<%= book.id() %>"><%= book.title() %></a><br></b></li>
    <% end %>
  </ol>

  <% else %>
  <p>There are currently no books available at the library.</p>
  <% end %>

  <br>

<a href='/patrons_form'>Click here to sign up for the Library and begin checking out these books!</a><br>
  <a href='/'>Click here to return to the main Library page</a>
