<center>
  <h1>Sign up to check out the amazing books at the Library:</h1>
</center>
<form action='/patrons' method='post'>
  <div class='form-group'>
    <label for="name">Please enter your name:</label>
    <input id="name" name="name" placeholder="name" type="text">
  </div>
  <div class='form-group'>
    <label for="phone">Please enter your phone:</label>
    <input id="phone" name="phone" placeholder="phone" type="text">
  </div>
  <button type="submit" class="btn-success">Sign Up!</button>
</form>
<br>
<a href="/patrons">Go Back!</a>
